<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
 
        <add id="Lens_Company::Lenscompany_Child"
             title="Lenscompany's"
             module="Lens_Company"
             sortOrder="1"
             action="lenscompany/Lenscompany/Index"
             parent="Lens_Info::Lensinfo"
             resource="Magento_Backend::content" />
    </menu>
</config>