<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Lens_Info::Lensinfo"
             title="LensInfo"
             module="Lens_Info"
             sortOrder="10"
             resource="Magento_Backend::content" />
 
        <add id="Lens_Info::Lensinfo_Child"
             title="Lensinfo's"
             module="Lens_Info"
             sortOrder="0"
             action="lensinfo/Lensinfo/Index"
             parent="Lens_Info::Lensinfo"
             resource="Magento_Backend::content" />
    </menu>
</config>